.container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  .item {
    width: fit-content;
    margin: 20px;
    max-width: 400px;
    .card {
      box-shadow: 0 0.5rem 1rem rgba(0, 36, 72, 0.13);
      border-radius: 10px;

    }
  }
}
::ng-deep .ant-card-body {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  button {
    position: absolute;
    right: 24px;
  }
}
img {
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

