.container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  .item {
    width: fit-content;
    margin: 20px;
    .card {
      box-shadow: 0 0.5rem 1rem rgba(0, 36, 72, 0.13);
      border-radius: 10px;
    }
  }
}

img {
  border-radius: 10px 10px 0 0;
  padding: 20px;
}

