<div class="tools-container">
  <textarea id="jsoninput">

  </textarea>
  <p>输入需要转化的json</p>
  <button (click)="transformJson()">json转化srt</button>
  <textarea id="jsonoutput"></textarea>

  <textarea id="srtinput" style="margin-top: 30px">

  </textarea>
  <p>输入需要转化的srt</p>
  <button (click)="transformSrt()">srt转化文本</button>
  <textarea id="srtoutput">

  </textarea>

  <textarea id="autoinput" style="margin-top: 100px">
  </textarea>
  <p>输入需要转化的 Google auto 英文字幕</p>
  <button (click)="transformAuto()">优化处理</button>
  <textarea id="autooutput">
  </textarea>

  <textarea id="autoinput2" style="margin-top: 100px">
  </textarea>
  <p>输入需要转化的 Google auto 英文字幕2</p>
  <button (click)="transformAuto2()">优化处理</button>
  <textarea id="autooutput2">
  </textarea>
</div>
